/* compiled by Stylize v1.0 ( based on Leafo/ScssPhp v0.1.1 - Sass 3.2 implementation in PHP ) on Sat, 19 Sep 2015 12:07:31 +0200 (0.4028s) */

style, script {
  display: none !important; }

body, html {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 10pt;
  background-color: #f4f4f8;
  overflow-x: hidden;
  text-align: center; }

a.top_btns {
  background: url("../img/gray-grad.png") repeat-x scroll left top #dfdfdf;
  border: 1px solid #ccc;
  font-size: 12pt;
  margin: 0px;
  padding: 5px;
  color: #000;
  text-decoration: none; }
  a.top_btns:hover {
    color: #222; }

.progressbar {
  width: 100%;
  border: 1px solid #ccc;
  height: 20px;
  border-radius: 6px;
  margin: 0px 3px;
  background-color: #a00; }
  .progressbar .inner {
    width: 0px;
    height: 100%;
    background-color: #0a0; }

.atline {
  display: none;
  float: left; }

#body_w {
  height: 610px;
  margin: 5px 5px 0 5px; }

#errors {
  position: fixed;
  color: #fff;
  font-weight: bold;
  background-color: #a00;
  margin: 3px auto 0 auto;
  left: 0;
  right: 0;
  width: 300px;
  padding: 4px 10px;
  z-index: 1;
  display: none;
  text-align: center;
  border-radius: 6px; }

#messages {
  position: fixed;
  background-color: #fff1a8;
  margin: 3px auto 0 auto;
  left: 0;
  right: 0;
  width: 500px;
  padding: 4px 10px;
  z-index: 1;
  display: none;
  opacity: 0;
  text-align: center;
  border-radius: 6px; }

#nav {
  background: #e4e4e4 url('../img/navbg.gif') scroll repeat-x 0 0;
  border: 1px solid #aaa;
  display: block;
  padding-top: 5px;
  margin: 0 0 10px;
  position: relative;
  width: 100%;
  text-align: left;
  float: left; }
  #nav a {
    padding: 6px 12px 6px 12px;
  }
  #nav > * {
    margin-bottom: 5px; }
  #nav #actions button {
    display: block;
    float: left;
    position: relative;
    width: 50%; }
  #nav > *:nth-child(1) {
    position: relative;
    display: block;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%; }
  #nav > *:nth-child(2) {
    position: relative;
    display: block;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%; }
  #nav > *:nth-child(3) {
    position: relative;
    display: block;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%; }
  #nav > *:nth-child(4) {
    position: relative;
    display: block;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%; }
  #nav > *:nth-child(5) {
    position: relative;
    display: block;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%; }
  @media (min-width: 480px) {
  #nav > *:nth-child(1) {
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%; } }
  @media (min-width: 480px) {
  #nav > *:nth-child(2) {
    clear: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 23%; } }
  @media (min-width: 480px) {
  #nav > *:nth-child(3) {
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 23%; } }
  @media (min-width: 480px) {
  #nav > *:nth-child(4) {
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 23%; } }
  @media (min-width: 480px) {
  #nav > *:nth-child(5) {
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 23%; } }
  @media (min-width: 800px) {
  #nav > *:nth-child(1) {
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 18%; } }
  @media (min-width: 800px) {
  #nav > *:nth-child(2) {
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 18%; } }
  @media (min-width: 800px) {
  #nav > *:nth-child(3) {
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 18%; } }
  @media (min-width: 800px) {
  #nav > *:nth-child(4) {
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 18%; } }
  @media (min-width: 800px) {
  #nav > *:nth-child(5) {
    clear: none;
    margin-left: 1%;
    margin-right: 1%;
    width: 18%; } }

.stats {
  margin-top: -17px;
  position: absolute;
  width: 100%; }

#cat_stats {
  text-align: center; }

#selected-lang img {
  vertical-align: middle; }

#edition {
  float: left; }

#edit_bar {
  position: absolute;
  left: 0;
  width: 360px;
  float: left;
  /*overflow-y:auto;*/
  /*overflow-x:hidden;*/
  padding: 0 5px 0px 12px; }
  #edit_bar h3 {
    margin: 0;
    font-size: 10pt; }
  #edit_bar .block textarea.data {
    width: 95%;
    height: 90px;
    border: none;
    background-color: #ddf;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc; }
  #edit_bar .block {
    margin-bottom: 6px; }
  #edit_bar .block .data {
    margin: 0;
    height: 90px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 5px 8px 9px; }
  #edit_bar .block #edit_bar_table {
    width: 100%;
    cursor: pointer; }
  #edit_bar .block #edit_bar_table #ref_head, #edit_bar .block #edit_bar_table #update_head, #edit_bar .block #edit_bar_table #src_com_head {
    color: #555;
    font-weight: bold;
    text-align: left; }
  #edit_bar .block #edit_bar_table #ref_head:hover, #edit_bar .block #edit_bar_table #update_head:hover, #edit_bar .block #edit_bar_table #src_com_head:hover {
    color: #222; }
  #edit_bar .block #edit_bar_table #ref_head {
    width: 25%; }
  #edit_bar .block #edit_bar_table #update_head {
    width: 38%;
    text-align: center;
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa; }
  #edit_bar .block #edit_bar_table #src_com_head {
    text-align: right; }
  #edit_bar .block h3, #edit_bar .block #edit_bar_table {
    background: #dfdfdf url('../img/gray-grad.png') repeat-x scroll top left;
    border: 1px solid #ccc;
    font-size: 10pt;
    margin: 0;
    padding: 5px 5px;
    color: #fff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  #edit_bar .block #edit_bar_table {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
  #edit_bar .block h3 a {
    color: #555;
    text-decoration: none;
    font-weight: bold; }
  #edit_bar .block h3 a:hover {
    color: #222; }
  #edit_bar #msgid {
    overflow-x: hidden;
    overflow-y: auto; }

#ref_data, #update_data, #com_data {
  display: none;
  position: absolute;
  text-align: center;
  font-weight: bold;
  width: 358px;
  background-color: #fff;
  border: 1px solid #555; }

#next {
  padding: 5px;
  margin: 0 2em 0 20px;
  background: #dfdfdf url('../img/gray-grad.png') repeat-x scroll top left;
  border: 1px solid #ccc;
  float:left; }

#message_container {
  margin-left: 385px; }

#msg_table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 100%; }

#msg_table_head {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid #ccc;
  border-bottom: 0; }
  #msg_table_head th {
    text-align: left;
    border-left: 1px solid #ddd;
    background: #e4e4e4 url('../img/navbg.gif') scroll repeat-x 0 0;
    cursor: pointer;
    color: #111;
    padding: 8px 0px; }
  #msg_table_head th.msgid, #msg_table_head th.msgstr {
    padding: 8px 8px; }
  #msg_table_head th a {
    text-decoration: none;
    color: #111; }
  #msg_table_head th img {
    float: right;
    border: none;
    margin: 2px 2px 0 0;
    width: 8px;
    height: 10px; }
  #msg_table_head th.sort-asc {
    background: #4384ff url('../img/navbg_active.png') scroll repeat-x 0 0; }
  #msg_table_head th.sort-asc img {
    background: transparent url('../img/arrow.png') no-repeat scroll 0 0; }
  #msg_table_head th.sort-desc {
    background: #4384ff url('../img/navbg_active.png') scroll repeat-x 0 0; }
  #msg_table_head th.sort-desc img {
    background: transparent url('../img/arrow.png') no-repeat scroll 0 -18px; }

#msg_table td {
  background-color: #fff;
  border-bottom: 1px solid #dadada;
  padding: 6px 0;
  cursor: pointer; }

#msg_table td.fuzzy, #msg_table td.notr, #msg_table td.depr, #msg_table_head th.fuzzy, #msg_table_head th.notr, #msg_table_head th.depr {
  width: 30px;
  text-align: center; }

#msg_table td.msgid, #msg_table_head th.msgid {
  width: 45%;
  text-align: left; }

#msg_table tr.empty td {
  background-color: #ffd;
  font-weight: bold; }

#msg_table tr.f td {
  background-color: #ffd;
  font-weight: bold; }

#msg_table tr.n td {
  color: #2f2;
}

#msg_table tr.d td {
  color: #999; }

#msg_table tr.odd td {
  /* background-color:#E4F1FF; */ }

#msg_table tr.selected td {
  background-color: #136aca;
  color: #fff; }

#msg_table tr.f td.fuzzy, #msg_table tr.n td.notr, #msg_table tr.d td.depr {
  color: #f00;
  font-weight: bold; }

#msg_table tr.selected.f td.fuzzy, #msg_table tr.selected.n td.notr,, #msg_table tr.selected.d td.depr {
  color: #000; }

#msg_table td div {
  height: 1.3em;
  overflow: hidden;
  word-break: break-all;
  line-height: 130%;
  margin: 0;
  padding: 0 1em 0 0.5em; }

#loading_indicator {
  background-color: #fff;
  height: 200px;
  border: 1px solid #ddd;
  font-size: 20px;
  text-align: center;
  padding-top: 3em;
  margin-right: 1em; }

#foot {
  clear: both;
  color: #999;
  font-size: 80%;
  text-align: left;
  padding: 4px 40px;
  border-top: 1px solid #ddd;
  background-color: #e8e8f8; }
  #foot a {
    color: #999; }

#pagination {
  position: relative;
  display: blowk;
  left: 385px;
  width: 400px; }

.flags {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 12px;
  margin-right: 12px;
  border: 1px solid #dadada;
  display: block;
  float: left;
  padding: 5px; }
  .flags a {
    color: #000;
    display: block;
    float: left;
    height: 16px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 150px; }
    .flags a img {
      vertical-align: middle; }

[data-lang].selected {
  text-decoration: underline;
  font-weight: bold;
  color: #f00; }

.block fieldset{
	margin:0;
	padding:0;
	border:0;
	float:left;
}
#cntrl_blk fieldset label{
	min-width:90px;
}
#cntrl_blk fieldset input{
	position: relative;
    top: 3px;
}
#makepot{
	display:block;
	float:left;
	margin-bottom: 10px;
    margin-left: 12px;
}
#multilg_support_link{
	float:right;
	text-decoration: none;
	margin-right:12px;
	display: block;
	color: #000;
}